include header
link(href='static/css/practice.css', rel='stylesheet')
section#practice
  div.practice_container.z-depth-2
    div.container_header.z-depth-1
      div.practice_level
        span.beginner Beginner
      div.practice_progression_bar
        div.progression_bar_back.z-depth-0
        div.progression_bar_current
      div.practice_progression 8/10
      div.practice_accuracy
        span.accuracy_high 85%
    div.container_start
      div.start
        button.btn.waves-effect.waves-light.green start
